/* SLIDER */

.CrewSlider {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.crew-slider-input-range {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.crew-slider-input-range:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.crew-slider-input-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.crew-slider-input-range::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* GENDER CHART */

.crew-gender-chart-graph-container {
  width: 560px;
  height: 418px; 
  display: inline-block;
  border: 1px lightblue solid;
  padding-left: 10px;
}

.CrewGenderChartPanel {
  display: inline-block;
  width: 240px;
  background-color: lightblue;
  height: 420px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.CrewGenderChartPanel table {
  border-collapse: collapse;
}

.CrewGenderChartPanel *[class^='crew-gender-chart-department-box-'] {
  height: 68px;
  border-bottom: 1px darkblue solid;
  vertical-align: middle;
  text-align: center;
}
.CrewGenderChartPanel *[class^='crew-gender-chart-department-box-']:hover {
  background-color: white;
}
.crew-gender-chart-department-box-top {
  width: 238px;
  border-bottom: 1px darkblue solid;
}
.crew-gender-chart-department-box-left {
  width: 119px;
  border-right: 1px darkblue solid;
}
.crew-gender-chart-department-box-right {
  width: 120px;
}

#crew-gender-chart-department-box-10 {
  border-bottom: none;
}
#crew-gender-chart-department-box-11 {
  border-bottom: none;
}
