/*// D78C8E*/

.mobile-apology {
	width: 98vw;
	height: 98vh;
}

.mobile-apology-header {
	font-size: 40px;
	font-weight: bold;
	margin: 20%;
}
.mobile-apology-content {
	font-size: 25px;
	font-weight: bold;
	margin: 20%;
	margin-top: 0px;
}

/* TOPBAR */
.topbar {
	width: 100%;
	position: fixed;
	top: 0px;
}

.topbar-topbar {
	height: 60px;
}

.topbar-bottom-bar {
	background-color: #D78C8E;
	height: 18px;
	display: block;
}

	/* temporary */
.topbar-logo-box {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100px;
	font-weight: bold;
	font-size: 25px;
	margin-right: 65.2%;
}
.topbar-tab-box {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100px;
	font-size: 15px;
}
.topbar-tab-box:hover {
	background-color: #FFF4BD;
}

/* BANNER */
.homepage-banner-container {
	background-color: #FDBCBE;
	position: relative;
	width: 100vw;
	height: 507px;
}

.homepage-banner-header {
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color: white;
	position: absolute;
	right: 10%;
	bottom: 120px;
}

.homepage-banner-image {
	display: inline-block;
	width: 1200px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* INTRO */
.homepage-intro {
	margin: 5%;
	margin-bottom: 7%;
	font-size: 25px;
	font-weight: bold;
}